<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="magesanjay_advertisement" translate="label" sortOrder="300">
            <label>Magesanjay</label>
        </tab>
        <section id="advertisement" translate="label" sortOrder="300" type="text" showInDefault="1" showInWebsite="1" showInStore="1">
            <tab>magesanjay_advertisement</tab>
            <label>Advertisement Settings</label>
            <resource>Magesanjay_Advertisement::config</resource>
            <group id="general" translate="label" sortOrder="20" type="text" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General</label>
                <field id="enabled" translate="label" sortOrder="10" type="select" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Enabledisable</source_model>
                    <comment>This will allow Grid Advertisement visible on frontend.</comment>
                </field>
            </group>
        </section>
    </system>
</config>
