<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
	<type name="Magesanjay\Advertisement\Helper\Layout">
		<arguments>
			<argument name="templateProcessor" xsi:type="object">Magento\Widget\Model\Template\Filter</argument>
		</arguments>
	</type>
</config>